@model LivroEC_V2.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaminhoImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaminhoImagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLivroPreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLivroPreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorias.CategoriaNome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.LivroId">Editar</a> |
    <a class="btn btn-success" asp-action="Index">Voltar à lista</a>
</div>
